/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 15, 2018, 6:11:59 PM
    Author     : koko_
*/
/*.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: yellow;
}*/
/*.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}*/
* {
    -fx-primary :  #2e2f30;
    -fx-secondary: #ffff8d;
    -fx-primarytext: #B2B2B2;
}
.tab-pane .tab-header-area .tab-header-background {
    /*-fx-opacity: 1;*/
    -fx-background-color: #3c3c3c;;
}

.tab-pane
{
    -fx-tab-min-width:80px;
    -fx-border-color: #555;
    -fx-border-width: 1;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;

}
.tab-header-area
{
    -fx-border-color: #555;
    -fx-border-width: 2;
}
.tab-pane .tab
{
    -fx-background-color: #555;

}

.tab-pane .tab:selected
{
        -fx-background-color:  #2e2f30;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

.receiveMsg .tab-label{
    -fx-text-fill: red;
    -fx-font-weight: bold;
}


/*scroll pane*/


.scroll-pane > .viewport {
   -fx-background-color:  transparent;
}
.scroll-pane  {
   -fx-background-color:  transparent;
}




.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #555;
    -fx-background-radius: 5em;
}
.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.group-pane {
    -fx-background-color: #555;
    -fx-background-radius: 30; 
    -fx-border-radius: 30; 
    -fx-border-width:5;
}


.button{
    -fx-text-fill: -fx-primarytext;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    
}
.button:hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;

}

.roundbutton {
    -fx-background-radius: 30px; 
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-border-radius: 50px;
    -fx-background-color: #555; 
    -fx-text-fill: orange;
}